.footer {
    p{
      color:rgb(44, 44, 44);
     
    }
  .logo {
      width: 15%;
      margin: auto;
      display: block;
  }
  .soical-media{
    justify-content: center;
    margin: 25px 0px;

    a{
        color:  rgb(44, 44, 44);
    }

  }
  .line {
    height: 60px;
    width: 2px;
    background: rgb(44, 44, 44);
    margin: 30px auto; 
  }
  input.form-control {
    width: 33%;
    margin: 30px auto;
}
button.btn.btn-dark {
    width: 34%;
    margin: auto;
    display: block;
    background-color: #de2866;
    border-color: pink;
}
}
