<div class="container footer mt-5 mt-4 mx-auto">
  <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has</p>
  <div class="line"></div>
  <img src="../../../assets/image/Logo.png" class="logo">
  <div class="soical-media px-4 d-flex border-right">

    <a class="nav-link " href="#"><i class="fab fa-facebook-f"></i></a>

    <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>

    <a class="nav-link " href="#"><i class="fab fa-twitter"></i></a>

    <a class="nav-link " href="#"><i class="fab fa-instagram"></i></a>

    <a class="nav-link " href="#"><i class="fab fa-pinterest-p"></i></a>

    <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>

  </div>
  <div class="line-2"></div>
  <p class="text-center">WEEKLY NEWSLETTER  </p>
  <form>
    <input class="form-control" placeholder="Your Email Address">
    <button class="btn btn-dark mb-3">S U B S C R I B E</button>
  </form>
  <p class="text-center">COPYRIGHT © 2020 SHOPWITHSTARS </p>
</div>
