.carousel-item {
  img {
    height: 450px;
  }

  .right {
    position: relative;
  }

  .caption {
    font-weight: 300;
    position: absolute;
    flex-flow: nowrap;
    width: 100%;
    white-space: nowrap;
    z-index: 99;
    top: 75px;
    left: 80px;

    h2 {
      font-size: 55px;
      letter-spacing: 3px;

      span {
        color: #e62e7e;
      }
    }
  }

  .d-flex {
    font-size: 45px;
    padding-top: 10px;
    color: #e62e7e;


    h2 {
      font-size: 3.5rem;
      color: black;
      padding-left: 3px;

      span {
        color: #e62e7e;

      }
    }

    h3 {
      letter-spacing: 2px;
      color: #828282 !important;

    }
  }
}


.bags {

  .bg-bag {
    background-image: url(../../../../assets/image/Product/bg-bags.jpg);
    background-position: center top;
    background-size: cover;
    height: 600px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    left: 0;
    right: 0;

  }

  .year {
    h2 {
      position: absolute;
      font-size: 3em;
      color: #ffffff !important;
      background-color: #983290 !important;
      padding: 10px;
    }
  }

  .fashion {
    position: absolute;
    color: white;
    left: 14%;
    top: 39%;

    h2.text-center {
      font-size: 7em;
      text-transform: uppercase;
      letter-spacing: 14.2px;
    }

    p.text-center {
      font-size: 26px;
      font-family: auto;
      letter-spacing: 1.2px;
    }
  }
}


@media only screen and (max-width : 992px) {
  .caption {
    top: 110px !important;
    color: white !important;

    h2 {
      font-size: 18px !important;
    }

    h3 {
      font-size: 18px !important;
      padding-left: 5px !important;
      color: white !important;

    }

    p {
      font-size: 13px !important;
    }
  }

  .d-flex {
    font-size: 16px !important;
    color: white !important;


    h2 {
      font-size: 16px !important;
      color: white !important;

    }

    h3 {
      color: white !important;

    }

  }

  .btn-lg,
  .btn-group-lg>.btn {
    font-size: 16px !important;
  }

  .bg-bag {
    height: 300px !important;

    .year {
      h2 {
        font-size: 2em;
      }
    }

    .fashion {
      left: 10% !important;

      h2.text-center {
        font-size: 2em !important;
        letter-spacing: 5.2px !important;
      }

      p.text-center {
        font-size: 20px !important;
      }
    }
  }
}
