/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body {
  font-family: 'Castoro', serif !important;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  display: flex !important;
}
