/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body {
  font-family: 'Castoro', serif !important;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  display: flex !important;
}

.btn-style
{
  background-color: #de2866;
  border-color: pink;
  color:white;
}

.toast-success {
  background-color: #9d4d97 !important;
}