.border-right {
    border-right: 1px solid #adadad !important;
}

.nav-link {
    padding: 0.5rem 1.2rem !important;
    font-size: small !important;

   
}


@media only screen and (max-width : 992px){
    nav{
        display: none !important;
    }
}