<div class="container footer mt-5 mt-4 mx-auto">
  <img src="../../../assets/image/Logo.png" class="logo">
  <div class="soical-media px-4 d-flex border-right">

    <a class="nav-link " href="#"><i class="fab fa-facebook-f"></i></a>

    <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>

    <a class="nav-link " href="#"><i class="fab fa-twitter"></i></a>

    <a class="nav-link " href="#"><i class="fab fa-instagram"></i></a>

    <a class="nav-link " href="#"><i class="fab fa-pinterest-p"></i></a>

    <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>

  </div>
  <div class="line"></div>
  <p class="text-center">Weekly Newsletter  </p>
  <form>
    <input class="form-control" placeholder="Your Email Address">
    <button class="btn btn-dark mb-3">S U B S C R I B E</button>
  </form>
  <p class="text-center">Copyright © 2020 SHOPWITHSTARS </p>
</div>
